# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [42]:
# Load dataset 
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

#determine data types
df.dtypes
"""
Customer                      object
ST                            object -> messy data, mix of full state names and abbreviations 
GENDER                        object -> messy data, mix of full state names and abbreviations 
Education                     object
Customer Lifetime Value       object -> should be float
Income                       float64 
Monthly Premium Auto         float64
Number of Open Complaints     object -> should be integer
Policy Type                   object 
Vehicle Class                 object
Total Claim Amount           float64
dtype: object
"""

#identify the number of unique values for each column and determine which columns appear to be categorical.
df["Customer"].value_counts()
df["ST"].value_counts() # categorical
df["GENDER"].value_counts() # categorical
df["Education"].value_counts() #categorical
df["Customer Lifetime Value"].value_counts()
df["Income"].value_counts()
df["Monthly Premium Auto"].value_counts()
df["Number of Open Complaints"].value_counts()
df["Policy Type"].value_counts()
df["Vehicle Class"].value_counts() #categorical
df["Total Claim Amount"].value_counts()

#compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
print(df.describe())

"""
the mean claim amout is 404 but it deviates a lot across the data set
mean income is almost 40k but the highest is more than double of that, and some customers have no income 


"""

#Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
categorical_columns = ['Customer', 'ST', 'GENDER', 'Education', 'Policy Type', 'Vehicle Class']

for col in categorical_columns:
    freq = df[col].value_counts()
    perc = df[col].value_counts(normalize=True) * 100
    print(freq)
    print(perc)

"""
30% of cases in the data set are in Oregon, 20% in California
equal distribution between men and women
over 40% have university level education
72% personal cars
over 50% are 4 door cars


"""

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678
Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64
Customer
RB50392    0.093371
HJ15383    0.093371
AO74776    0.093371
HQ82233    0.093371
OL72737    0.093371
             ...
RO26085    0.093371
ES57969    0.093371
JK55587    0.093371
RN97635    0.093371
MY31220    0.093371
Name: proportion, Length: 1071, dtype: float64
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
ST
Oregon        29.878618
California    19.701214
Arizona       17.366947
Cali          11.204482
Nevada         9.150327
Washington     7.563025
WA             2.801120
AZ             2.334267
Name: proportion, dtype: float64
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64
GENDER
F         47.903564
M         43.291405
Male       4.088050
female     2.935010
Femal      1.781971
Name: proportion, dtype: float64
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64
Education
Bachelor                30.252101
College                 29.225023
High School or Below    27.637722
Master                   8.776844
Doctor                   3.454715
Bachelors                0.653595
Name: proportion, dtype: float64
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Policy Type
Personal Auto     72.829132
Corporate Auto    21.848739
Special Auto       5.322129
Name: proportion, dtype: float64
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64
Vehicle Class
Four-Door Car    53.781513
Two-Door Car     19.140990
SUV              18.580766
Sports Car        5.322129
Luxury SUV        1.867414
Luxury Car        1.307190
Name: proportion, dtype: float64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [56]:
count_series = df["ST"].value_counts()

count_series.sort_values(ascending=True, inplace=True)

count_series[0:5]

#note: AZ = Arizona and WA = Washington

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [81]:
count_policy_types = df["Policy Type"].value_counts()
print("Total number of policies sold for each type:")
print(count_policy_types)
print("Most sold:")
most_sold_policy = count_policy_types.idxmax()
print(most_sold_policy)

Total number of policies sold for each type:
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Most sold:
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [99]:
df_personal_auto = df[df["Policy Type"] == "Personal Auto"][["Policy Type", "Income"]]
mean_income = round(df_personal_auto["Income"].mean(), 2)
print("Mean income for 'Personal Auto' policy type:", mean_income)

df_corporate_auto = df[df["Policy Type"] == "Corporate Auto"][["Policy Type", "Income"]]
mean_income = round(df_corporate_auto["Income"].mean(), 2)
print("Mean income for 'Corporate Auto' policy type:", mean_income)

Mean income for 'Personal Auto' policy type: 38180.7
Mean income for 'Corporate Auto' policy type: 41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [109]:
# 75%  income = 64631 (calcualated before)

income_threshold = 64631

best_customers = df[(df["Income"] > income_threshold)]

best_customers.describe()
categorical_columns = ['Customer', 'ST', 'GENDER', 'Education', 'Policy Type', 'Vehicle Class']

for col in categorical_columns:
    freq = df[col].value_counts()
    perc = df[col].value_counts(normalize=True) * 100
    print(freq)
    print(perc)

"""
The majority of best customers are from Oregon
Slighlty more women than men
Mostly bachelor degree or college 
four-door cars is the most popular (over 50%)
mostly personal auto policy is purchased

Customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: count, Length: 1071, dtype: int64
Customer
RB50392    0.093371
HJ15383    0.093371
AO74776    0.093371
HQ82233    0.093371
OL72737    0.093371
             ...
RO26085    0.093371
ES57969    0.093371
JK55587    0.093371
RN97635    0.093371
MY31220    0.093371
Name: proportion, Length: 1071, dtype: float64
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
ST
Oregon        29.878618
California    19.701214
Arizona       17.366947
Cali          11.204482
Nevada         9.150327
Washington     7.563025
WA             2.801120
AZ             2.334267
Name: proportion, dtype: float64
GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64
GENDER
F         47.903564
M         43.291405
Male       4.088050
female     2.935010
Femal      1.781971
Name: proportion, dtype: float64
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64
Education
Bachelor                30.252101
College                 29.225023
High School or Below    27.637722
Master                   8.776844
Doctor                   3.454715
Bachelors                0.653595
Name: proportion, dtype: float64
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Policy Type
Personal Auto     72.829132
Corporate Auto    21.848739
Special Auto       5.322129
Name: proportion, dtype: float64
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64
Vehicle Class
Four-Door Car    53.781513
Two-Door Car     19.140990
SUV              18.580766
Sports Car        5.322129
Luxury SUV        1.867414
Luxury Car        1.307190
Name: proportion, dtype: float64